<h1>Examination</h1>
<p>The exam below will consist of 10 questions, if you get 8 or more right you will be selected for the prize.</p>
<form>
  <!--Question 1-->
  <br>
  <p>Question 1: When was the C language invented?</p>
  <input type="radio" name="q1" id="q1_a" value="a">
  <label for="q1_a">2004</label><br>
  <input type="radio" name="q1" id="q1_b" value="b">
  <label for="q1_b">1800</label><br>
  <input type="radio" name="q1" id="q1_c" value="c">
  <label for="q1_c">1972</label><br>
  <input type="radio" name="q1" id="q1_d" value="d">
  <label for="q1_d">2019</label><br>
  <!--Question 2-->
  <br>
  <p>Question 2: Who was the founder of the C language?</p>
  <input type="radio" name="q2" id="q2_a" value="a">
  <label for="q2_a">Bob Smith</label><br>
  <input type="radio" name="q2" id="q2_b" value="b">
  <label for="q2_b">Dennis Ritchie</label><br>
  <input type="radio" name="q2" id="q2_c" value="c">
  <label for="q2_c">Bill Gates</label><br>
  <input type="radio" name="q2" id="q2_d" value="d">
  <label for="q2_d">Elon Musk</label><br>
  <!--Question 3-->
  <br>
  <p>Question 3: When was Java founded?</p>
  <input type="radio" name="q3" id="q3_a" value="a">
  <label for="q3_a">1984</label><br>
  <input type="radio" name="q3" id="q3_b" value="b">
  <label for="q3_b">1896</label><br>
  <input type="radio" name="q3" id="q3_c" value="c">
  <label for="q3_c">2017</label><br>
  <input type="radio" name="q3" id="q3_d" value="d">
  <label for="q3_d">1995</label><br>
  <!--Question 4-->
  <br>
  <p>Question 4: How large is an unsigned char</p>
  <input type="radio" name="q4" id="q4_a" value="a">
  <label for="q4_a">1 byte</label><br>
  <input type="radio" name="q4" id="q4_b" value="b">
  <label for="q4_b">2 bytes</label><br>
  <input type="radio" name="q4" id="q4_c" value="c">
  <label for="q4_c">3 bytes</label><br>
  <input type="radio" name="q4" id="q4_d" value="d">
  <label for="q4_d">4 bytes</label><br>
  <!--Question 5-->
  <br>
  <p>Question 5: How large is an unsigned short</p>
  <input type="radio" name="q5" id="q5_a" value="a">
  <label for="q5_a">1 byte</label><br>
  <input type="radio" name="q5" id="q5_b" value="b">
  <label for="q5_b">2 bytes</label><br>
  <input type="radio" name="q5" id="q5_c" value="c">
  <label for="q5_c">3 bytes</label><br>
  <input type="radio" name="q5" id="q5_d" value="d">
  <label for="q5_d">4 bytes</label><br>
  <!--Question 6-->
  <br>
  <p>Question 6: How large is a single precision float?</p>
  <input type="radio" name="q6" id="q6_a" value="a">
  <label for="q6_a">4 bytes</label><br>
  <input type="radio" name="q6" id="q6_b" value="b">
  <label for="q6_b">3 bytes</label><br>
  <input type="radio" name="q6" id="q6_c" value="c">
  <label for="q6_c">2 bytes</label><br>
  <input type="radio" name="q6" id="q6_d" value="d">
  <label for="q6_d">1 byte</label><br>
  <!--Question 7-->
  <br>
  <p>Question 7: How large is a double precision float?</p>
  <input type="radio" name="q7" id="q7_a" value="a">
  <label for="q7_a">2 bytes</label><br>
  <input type="radio" name="q7" id="q7_b" value="b">
  <label for="q7_b">4 bytes</label><br>
  <input type="radio" name="q7" id="q7_c" value="c">
  <label for="q7_c">8 bytes</label><br>
  <input type="radio" name="q7" id="q7_d" value="d">
  <label for="q7_d">16 bytes</label><br>
  <!--Question 8-->
  <br>
  <p>Question 8: How large is an unsigned long?</p>
  <input type="radio" name="q8" id="q8_a" value="a">
  <label for="q8_a">16 bytes</label><br>
  <input type="radio" name="q8" id="q8_b" value="b">
  <label for="q8_b">96 bytes</label><br>
  <input type="radio" name="q8" id="q8_c" value="c">
  <label for="q8_c">24 bytes</label><br>
  <input type="radio" name="q8" id="q8_d" value="d">
  <label for="q8_d">128 bytes</label><br>
  <!--Question 9-->
  <br>
  <p>Question 9: What is a valid input to the following?
    x = 2;
    y = 5;
    x = y;
    y = y + 1;
    x = x - 1;
    console.log(x);
  </p>
  <input type="radio" name="q9" id="q9_a" value="a">
  <label for="q9_a">5</label><br>
  <input type="radio" name="q9" id="q9_b" value="b">
  <label for="q9_b">3</label><br>
  <input type="radio" name="q9" id="q9_c" value="c">
  <label for="q9_c">2</label><br>
  <input type="radio" name="q9" id="q9_d" value="d">
  <label for="q9_d">4</label><br> 
  <!--Question 10-->
  <br>
  <p>Question 10: What do you call a camel that has no humps, no hooves, and drinks no water, but lives anyway?</p>
  <input type="radio" name="q10" id="q10_a" value="a">
  <label for="q10_a">a thirsty camel</label><br>
  <input type="radio" name="q10" id="q10_b" value="b">
  <label for="q10_b">a camel spider</label><br>
  <input type="radio" name="q10" id="q10_c" value="c">
  <label for="q10_c">a cigarette</label><br>
  <input type="radio" name="q10" id="q10_d" value="d">
  <label for="q10_d">a hungry and thirsty camel</label><br>
  <input type="submit" value="Submit" onclick="submitTest()">
</form>